# Virtuoso files /data/db
/data/db/*
!/data/db/virtuoso.ini
!/data/db/toLoad
!/data/db/toLoad/*

docker-compose.override.yml

.env
docker-compose.override.yaml
config/migrations/local
config/migrations/local
